body {
    width: 98%;
    padding: 0px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #FFFFFF;
    color: #000000;
}

#cabecera {
    width: 100%;
    padding: 0px;
}

#cabecera1 {
    width: 100%;
    padding: 0px;
    background-color: #000000;
    text-align: right;
    color: #ffffff;
}

#cabecera2 {
    width: 100%;
    padding: 0px;
    background-color: #006699;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
}

#cabecera3 {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 8px;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
}

#cuerpo {
    width: 100%;
    padding: 0px;
}

#menu {
    float: left;
    width: 20%;
    padding: 8px;
    padding-bottom: 5px;
    border-style: groove;
    border-width: thin;
    border-color: blue;
}

#contenido {
    float: right;
    width: 75%;
    padding-bottom: 5px;
}

#pie {
    clear: both;
    width: 100%;
    padding: 0px;
    text-align: center;
}

.contenido {
    display: flex;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}


.contenidotitulo {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

.contenidoSubTitulo {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columnas {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    align-items: center;
}

.registro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

    .registro:first-child {
        padding: 5px;
    }

.inicio {
    text-align: left;
}

.boton {
    text-align: center;
}

.mensajes{
    text-align: center;
}


@media only screen and (min-width: 600px) {
    .columna {
        display: flex;
        flex-direction: row;
    }

    .columnas {
        display: flex;
        padding: 10px;
    }

    .registro {
        flex-direction: row;
        width: 80%;
        justify-content: center;
        flex-wrap: nowrap;
    }

        .registro > span {
            width: 20%;
            text-align: end;
            margin-right: 10px;
        }
        .registro > input, select{
            width: 80%;
            text-align: end;
        }
}
